openai
langchain
langchain_openai
langchain-community
docx2txt
pypdf
streamlit
tiktoken
numpy
pandas
openpyxl
streamlit-option-menu
faiss-cpu
streamlit-keyup
langchain_google_genai
langchain_google_vertexai
google-cloud